*{
    padding: 0%;
    margin: 0%;

}

#navbar{
  
    border-top: 1px solid;
    height: 60px;
    /* display: flex; */
    border-bottom: 1px solid;
    /* justify-content: center;
    align-content: center; */
    background-color: white;

}
#inner{
    width: 90%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px;
    margin-bottom: 30px; */

}

ul{
    list-style: none;
    display: flex;
    }
li{
     
    margin-left: 15px;
    margin-right: 25px;
    font-size: 0.9rem;
    line-height: 1.0;
    letter-spacing: 0.06rem;
    }
    li>div{
        height: 100%;
        /* border: 1px solid; */
        font-family: "Avenir Medium", sans-serif;
        cursor: pointer;r
    }
    .submenu{
        display: none;
    }
    #inner ul li div:hover .submenu{
        display: flex;
        position: absolute;
        margin-top: 5px;
        padding: 20px;
        background-color: white;
    }
    .submenu{
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        /* border: 1px solid; */
    }
    .submenu-1{
        /* margin-right: 20px; */
        /* display: flex; */
        padding-top: 30px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        
    }
    .listDiv ul{
        display: block;
        margin: 10px 0px;
        margin-right: 50px;
    }
    .listDiv ul li{
        margin: 10px;
    }
    .submenu-2{
        display: flex;
    }
    .submenu-1>div{
        margin-left: 10px;
       margin-bottom: 20px;
        
    }
    .submenu-1 img{
        width: 80%;
        display: block;
        margin: auto;
    }
    hr{
        width: 80%;
        margin: auto;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .companyLogo_searchBar{
        height: 60px;
        display: flex;
        justify-content: space-between;
        background-color: white;
    }
    #comapnyLogo{
        display: flex;
        /* border: 1px solid; */
        /* align-items: center; */
        margin-left: 30px;
    }
    #comapnyLogo>div:first-child{
        /* margin-right: 20px; */
        cursor: pointer;
        /* height: 100%; */
        padding: 0px 10px;
        display: flex;
        align-items: center;
        /* border: 1px solid; */
        border-top: 5px solid;
        border-left: 1px solid;
        border-right: 1px solid;
    }
    #comapnyLogo>div:last-child{
        cursor: pointer;
       opacity: 0.4;
        /* height: 100%; */
        padding: 0px 30px;
        display: flex;
        align-items: center;
        /* border: 1px solid; */
        /* border-top: 5px solid; */
        /* border-left: 1px solid grey; */
        border-right: 1px solid grey;
    }
    #comapnyLogo>div:last-child:hover{
        opacity: 1;
    }
    #searchBar_cart{
        width: 30%;
        display: flex;
        margin-right: 50px;
        align-items: center;
        /* border: 1px solid; */
        
    }
    #searchBar{
        width: 70%;
        /* height: 50px; */
        /* border: 1px solid; */
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-right: 20px;
        /* justify-content: space-between; */
    }
    #searchBar img{
        /* height: 40px; */
        opacity: 0.7;
        cursor: pointer;
        
    }
    .search{
        width: 100%;
       height: 35px;
        font-size: 1.1rem;                
        border: 1px solid;   
        padding: 0px 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-bottom: 20px;
        /* border-radius: 10px;       */
    }
    button{
        padding: 10px;
        border: none;
        cursor: pointer;
    }
    #cart img{
        height: 40px;
        opacity: 0.7;
        cursor: pointer;
    }
    #signIn_signUp{
        height: 40px;
        display: flex;
        justify-content: end;
        
        /* margin-right: 100px; */
        background-color: aqua;
        
    }
    #signIn_signUp button{
        margin-right: 100px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        background-color: transparent;
        letter-spacing: inherit;
        
    }
    
    #forSticky{
        position: sticky;
        top: 0px;
    }
   .bg_modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* opacity: 0.3; */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
   }

   .div_content{
    width: 500px;
    height: 600px;
    background-color:white;
    text-align: center;
    padding: 20px;
    position: relative;
   }
   .div_content>h1{
    margin-bottom: 10px;
   }
   input{
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    width: 80%;
   }
   .submitButton{
        width: 80%;
        padding: 10px;
        background-color: gray;
        color: white;
        cursor: pointer;
   }
   .submitButton:hover{
    background-color: white;
    color: black;
   }
   .close{
    position: absolute;
    top: 0;
    font-size: 30px;
    right: 14px;
    transform: rotate(45deg);
    cursor: pointer;
   }
    